<div class="container w-100">

    <div class="row w-100 mt-5">
        <div class="col-md-12">
            <h1 class="text-monospace tex-center">Sejam bem vindes ao meu blog!</h1>
        </div>
    </div>

    <div class="w-100 row mt-4 mb-4">
        <div class="col-md-12">
            <p class="text-justify text-monospace">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus error consectetur tempore ipsam veniam nobis tenetur, impedit quidem quisquam, blanditiis ad? In illo qui ad facilis reiciendis doloremque, reprehenderit placeat.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia, nulla eaque! Repellendus, maxime dicta. Tenetur vitae doloremque tempore eaque veniam repellendus, similique corrupti non natus, soluta ullam vel placeat beatae!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia quo voluptatem eveniet animi, sed reiciendis quam debitis, sit veniam consequuntur vero ab distinctio corrupti expedita natus ipsa sunt illo culpa.
            </p>
        </div>
    </div>
</div>

    <div class="parallax"></div>

    <div class="row w-100 mt-5 mb-5">
        <div class="col-md-12 w-100 d-flex justify-content-center">
            <button class="btn btn-outline-dark text-uppercase font-weight-bold" routerLink='/feed'>Ver o feed</button>
        </div>
    </div>
