<div class="card border-0" style="width: 18rem;">
    <div class="d-flex justify-content-center">
        <img class="card-img-top rounded-circle w-75" src="https://upload.wikimedia.org/wikipedia/pt/e/eb/Capa_de_Anti_%28%C3%A1lbum%29.png" alt="Imagem de capa do card">
    </div>


    <div class="card-body">
      <h5 class="card-title text-center text-monospace">sdds rihanna</h5>
      <p class="card-text text-center text-monospace" >Anti, o último álbum de estúdio da cantora Rihanna</p>
      <a href="https://open.spotify.com/album/4UlGauD7ROb3YbVOFMgW5u?si=paPUrpceQT2bpMaEAKnAZQ" class="btn btn-outline-info mb-3 d-flex justify-content-center" target="_blank">Spotify</a>

      <a href="https://www.youtube.com/user/rihanna" class="btn btn-outline-info mb-3 d-flex justify-content-center" target="_blank">YouTube</a>

    </div>
  </div>